header {
    position: relative;
    //background-color: silver;
    .brand {
        display: inline-block;
        line-height: $header-height;
        height: $header-height;
        img {
            margin-left: 1rem;
            height: 50%;
            vertical-align: middle;
            opacity: .6;
        }
    }
    .burger {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0;
        display: block;
        height: $header-height;
        line-height: $header-height;
        width: $burger-bp;
        text-align: right;
        .link {
            display: inline-block;
            margin-right: 1rem;
        }
        @media screen and (max-width: $burger-bp) {
            width: max-content;
            margin: 1rem;
            padding: 1rem;
            border: 1px solid silver;
            line-height: var(--line-height-base);
            height: auto;
            .link {
                display: block;
            }
        }
    }
}
