$aside-width: 428px;
$aside-sliding-speed: 1s;
$aside-z-index: 10;

template {
    display: none;
}

main {
    margin: 0;
    padding: 0;
    min-height: var(--main-min-height);
    position: relative;
    z-index: calc(#{$aside-z-index} - 1);
    width: 100%;
    position: relative;
    section {
        max-width: 80ch;
        margin: 0 auto;
        padding: 0;
        &.hidden {
            display: none;
        }
        &.shown {
            display: block;
        }
        article {
            margin: 0;
            border: 0;
            width: 100%;
        }
        &#devices {
            max-width: 40ch;
        }
    }
}

#alert {
    background-color: crimson;
    color: pink;
    border-radius: .5rem;
    border: 1px solid red;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    &.hidden {
        display: none;
    }
    &.shown {
        display: block;
    }
}

aside {
    height: 100vh;
    z-index: $aside-z-index;
    position: absolute;
    padding: .2rem;
    border: 1px solid silver;
    border-radius: .2rem;
    background-color: whitesmoke;
    width: $aside-width;
    @media screen and (max-width: calc(#{$aside-width} - 1px)) {
        width: 100%;
    }
    top: 0;
    left: 0;
    &.hidden {
        margin-left: calc(#{$aside-width} * -1);
        transition-duration: $aside-sliding-speed;
    }
    &.shown {
        margin-left: 0;
        transition-duration: $aside-sliding-speed;
    }
    p:nth-child(1) {
        text-align: end;
        margin-top: 1rem;
        margin-right: 1rem;
    }
}
