$aside-width: clamp(320px, calc(100vw / 5), 480px);
$aside-sliding-speed: 1s;
$aside-z-index: 10;

main {
    min-height: var(--main-min-height);
    position: relative;
    #container {
        z-index: calc(#{$aside-z-index} - 1);
        width: 100%;
        height: 100%;
        position: relative;
        a[href="show-aside"] {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: smaller;
        }
        section {
            max-width: 40ch;
            margin: auto;
            border: 1px solid silver;
            &.hidden {
                display: none;
            }
            &.shown {
                display: block;
            }
        }
    }
}

aside {
    z-index: $aside-z-index;
    position: absolute;
    height: var(--main-min-height);
    background-color: silver;
    width: $aside-width;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    &.hidden {
        margin-left: calc(#{$aside-width} * -1);
        transition-duration: $aside-sliding-speed;
    }
    &.shown {
        margin-left: 0;
        transition-duration: $aside-sliding-speed;
    }
    p:nth-child(1) {
        text-align: end;
        margin-top: 1rem;
        margin-right: 1rem;
    }
}
