- var roomList = 'Список помещений'
- var deviceList = 'Список устройств'

doctype
html(lang="ru")
    include ../components/head
    body
        include ../components/header
        main
            aside(class="hidden") 
                p
                    a(href="hide-aside" title="Скрыть") 
                        i.bi.x
                h1 #{roomList}
                ul
                template 
                    li
                        a(href="room" title="Показать устройства") 
                            i.bi.full-screen
                            span 
                                | &nbsp;
            #container 
                template 
                    li
                        a(href="room" title="Показать устройства") 
                            i.bi.full-screen
                            span 
                                | &nbsp;
                a(href="show-aside") #{roomList}
                section#devices.hidden
                    h1 #{deviceList}
                    ul 
                section#readme
                    :markdown(from="README.md")

            script(src="assets/aside.js" defer)
            script(src="assets/rooms.js" defer)
            script(src="assets/router.js" defer)
        include ../components/footer
