- var roomList = 'Список помещений'
- var deviceList = 'Список устройств' 

doctype
html(lang="ru")
    include ../components/head
    body
        include ../components/header
        aside(class="hidden") 
            p
                a(href="hide-aside" title="Скрыть") 
                    i.bi.x
            h1 #{roomList}
            ul
            template 
                li.bi.house.md.text-md
                    a(href="room" title="Показать устройства") 
                        span 
                            | &nbsp;
        main
            template 
                li.md.bi.lightbulb-fill.text-md
                    a(href="room" title="Показать устройства") 
                        span 
                            | &nbsp;
            section#devices.hidden
                article
                    h1 #{deviceList}
                    ul 
            section#readme
                article
                    :markdown(from="README.md")
        #alert.hidden 

        include ../components/footer
        script(src="assets/router.js" defer)
        script(src="assets/aside.js" defer)
        script(src="assets/rooms.js" defer)
