doctype
html(lang="ru")
    include ../components/head
    body
        include ../components/header
        main
            article
                :markdown(from="../../README.md")
        include ../components/footer
