aside.hidden 
    .wooden
        p
            a(href="hide-aside" title="Скрыть") 
                i.bi.x
        h1 Помещения
        ul
        template 
            li.bi.house.md.text-md
                a(href="room" title="Показать устройства") 
                    span 
                        | &nbsp;
script(src="/assets/aside.js" defer)
script(src="/assets/rooms.js" defer)
