header
    #brand
        a(href="show-aside") #{roomList}
    #burger
    #links 
        .link 
            a.bi.x(href="#" title="Закрыть") 
        //.link 
            a.bi.file-earmark-check(href="/eula" title="Пользовательское соглашение") EULA
        .link 
            a.bi.file-earmark-check(href="#readme" title="Инструкция") HOWTO

