header
    .brand 
        a(href="show-aside")
            img(src="/assets/images/logo.svg")
    .burger 
        //.link 
            a.bi.x(href="#" title="Закрыть") 
        .link 
            a.bi.file-earmark-check(href="#readme" title="Инструкция") HOWTO
        .link 
            a.bi.github(href="https://github.com/yababay/evhome.git" title="Исходный код") GITHUB

//script(src="/assets/burger.js" defer) 
