header
    a(href="show-aside" title="Выбор помещения")
        #brand
    #burger
    #links 
        .link 
            a.bi.x(href="#" title="Закрыть") 
        .link 
            a.bi.file-earmark-check(href="#readme" title="Инструкция") Инструкция

