header
    #brand
        a(href="/") #{motto || title}
    #burger
    #links 
        .link 
            a.bi.x(href="#" title="Закрыть") 
        .link 
            a.bi.file-earmark-check(href="/eula") EULA
        .link 
            a.bi.image(href="#readme") HOWTO
    include ../components/burger
