main
    section#devices.hidden
        h1
        ul 
    section#readme
        :markdown(from="README.md")
    template 
        li.md.bi.lightbulb-off.text-md
            a(href="room" title="Показать устройства") 
                span 
                    | &nbsp;
